# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# VS Code
.vscode/

# Logs
logs/
*.log

# Exported files
exports/

# Reports
reports/

# SQL Server database files
*.mdf
*.ldf
*.bak

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db